@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#f40fe5 2px, transparent 2px), radial-gradient(#f40fe5 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(247, 0, 255);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}